/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-z9c5bxd9dz] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-z9c5bxd9dz] {
    flex: 1;
}

.sidebar[b-z9c5bxd9dz] {
    background-image: url('../img.png');
}

.top-row[b-z9c5bxd9dz] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-z9c5bxd9dz]  a, .top-row[b-z9c5bxd9dz]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-z9c5bxd9dz]  a:hover, .top-row[b-z9c5bxd9dz]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-z9c5bxd9dz]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-z9c5bxd9dz] {
        display: none;
    }

    .top-row.auth[b-z9c5bxd9dz] {
        justify-content: space-between;
    }

    .top-row[b-z9c5bxd9dz]  a, .top-row[b-z9c5bxd9dz]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-z9c5bxd9dz] {
        flex-direction: row;
    }

    .sidebar[b-z9c5bxd9dz] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-z9c5bxd9dz] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-z9c5bxd9dz]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-z9c5bxd9dz], article[b-z9c5bxd9dz] {
        padding-left: 0.1rem !important;
        padding-right: 0.1rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-37mj61336t] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-37mj61336t] {
    height: 3.5rem;
    /*background-color: rgba(0,0,0,0.4);*/
    background-color: rgba(0,0,0,0.1);
}

.navbar-brand[b-37mj61336t] {
    font-size: 1.1rem;
}

.oi[b-37mj61336t] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-37mj61336t] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-37mj61336t] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-37mj61336t] {
        padding-bottom: 1rem;
    }

    .nav-item[b-37mj61336t]  a {
        /*color: #d7d7d7;*/
        color: red;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-37mj61336t]  a.active {
    background-color: rgba(255,255,255,0.25);
    /*color: white;*/
    color: red;
    border-color: #0d6efd;
    border-width: 0.1px;
    border-style: solid;
}

.nav-item[b-37mj61336t]  a:hover {
    background-color: rgba(255,255,255,0.1);
     /*color: white;*/
    color: red;
}

@media (min-width: 641px) {
    .navbar-toggler[b-37mj61336t] {
        display: none;
    }

    .collapse[b-37mj61336t] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
